
<!-- footer -->
<!-- Vendors (All Essential JavaScript plugins) -->

<!-- bootstrap -->
<script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
<!-- magnific -->
<script type="text/javascript" src="assets/js/vendor/magnific.popup.min.js"></script>
<!-- slick -->
<script type="text/javascript" src="assets/js/vendor/slick.min.js"></script>
<!-- slicknav -->
<script type="text/javascript" src="assets/js/vendor/slicknav.min.js"></script>
<!-- masonry -->
<script type="text/javascript" src="assets/js/vendor/masonry.pkgd.min.js"></script>
<!-- web ticker -->
<script type="text/javascript" src="assets/js/vendor/web.ticker.min.js"></script>
<!-- active -->
<script type="text/javascript" src="assets/js/active.js"></script>
